<div class="schedulings__title">
    <h1>Reservas</h1>
</div>
<div class="schedulings__table table-responsive">
    <table class="table" id="table-schedulings">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Serviço</th>
                <th scope="col">Cliente</th>
                <th scope="col">Profissional</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
    </table>
</div>