<div class="schedules__title">
    <h1>Horários</h1>
</div>
<div class="schedules__table table-responsive">
    <table class="table" id="table-schedules">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Disponível</th>
                <th scope="col">Profissional</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
    </table>
</div>